@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
body{
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    place-content: center;
    height: 90vh;
}
div{
    border:1px solid gray;
    border-radius: 5px;
height: 475px;
width: 275px;
background-color:white;
padding:10px 7px 15px 7px;
}
img{
    border-radius:5px;
}
.buttons-wrapper{
    border:transparent;
    height: 10px;
    width:150px;
    margin-left:10px;
    border-radius:20px;
}
.buttons-wrapper button{
    border-radius:10px;
    background-color: white;
    border:1px solid gray;
     padding:1px 10px; 
     opacity:55% ;
}
h1,p{
    padding-left:10px;
}
h1{
font-weight: 600;
}
p{
    opacity:50%;
}
.buton-jos{
    margin-left:80px;
    border-radius: 20px;
    padding:8px 20px;
    cursor:pointer;
    border:transparent;
    font-size:12px;
    font-weight:500;
    background-color: lightblue;
    color:blue;
}